* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.home
{
    width: 100%;
    margin-top: 100px;
}
/* Home.jsx */
.home_Introduction
{
    margin-top: 150px;
    padding-left: 100px;
    width: 100%;
}


/* HomeIntroduction.jsx */
.introduction_rectangle
{
    width: 300px;
    height: 10px;
    background-color: black;
}

.introduction_title
{
    font-size: 30px;
    font-weight: bold;
}

.introdction_seeMore a
{
    text-decoration: none;
}

.HomeIntroduction_List{
    display: flex;
}


/* HomeNews.jsx */
.home_news
{
    width: 100%;
    margin-top: 30px;
    height: 700px;
}

.home_newsHeader
{
    text-align: center;
}

.home_newsTitle
{
    color: #ff2d5b;
    font-size: 20px;
    font-weight: bold;
}

.home_newsLatest
{
    font-size: 30px;
    font-weight: bold;

}
.home_newsLists
{
    margin-left: 100px;
    margin-top: 20px;
}

/* HomeContact.jsx */

.contact_title
{   
    margin: 30px 0 30px 0;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.contact_list
{
    margin-left: 30px;
}

.home_Contact
{
    margin-bottom: 300px;
}