.editInformationPage_carrer {
    margin-left: 350px;
}

.editInformationPage_list {
    width: 800px;
    height: 250px;
    margin-top: 50px;
}

.editInformationPage_list:first-child {
    width: 1000px;
    height: 500px;
}

.editInformationPage_sidebar {
    position: fixed;
    top: 20;
    left: 0;
    height: 100%;
    width: 350px;
}

.list_edit {
    width: 50%;
    margin-bottom: 10px;
    border-bottom: 2px solid red;
}

.btn_update {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    margin-top: 30px;
    background-color: rgb(54, 54, 214);
    color: white;
    font-weight: bold;
}

.testDiagno
{
    border: 5px solid yellowgreen;
    width: 400px;
    height: 350px;
    border-radius: 10px;
    position: relative;
}
.uploadDescription {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #999999;
}
.btn
{
    margin-top: 20px;
    margin-left: 120px;
}
.btn_upload
{
    margin-right: 60px;
}
.popupSearch {
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    min-width: 500px;
    max-width: 500px;
    max-height: 250px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    white-space: nowrap;
    background-color: #e9e9e9;
}
.address:first-child {
    margin-top: 5px;
}
.address {
    color: #8d7e7e;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
}
.address:hover {
    cursor: pointer;
    background-color: #d9d3d3;
}