.detailForumPage_header {
    position: relative;
    margin-top: 100px;
}

.detailForumPage_Title {
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 40px;
    color: aliceblue;
    font-weight: bold;
}