.footer
{
    width: 100%;
    height: 250px;
    background-color: #0073C6;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.nameFooter
{
    padding: 30px 0 0 30px;
}

.name_app
{
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.name_goal
{
    font-weight: 500;
    font-size: 20px;
}

.contactUs
{
    padding: 30px 30px 0 0;
    font-size: 20px;
}

.contactUs p
{
    font-weight: bold;
}

.fw_b
{
    font-weight: bold;
}

.footer_copyright
{
    background-color: #8ed1fc;
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
}

.footer_copyright p
{
    margin-left: 30px;
}

.social_network
{
    margin-right: 30px;
}

.list_social
{
    margin-right: 10px;
}